
.inputBox{
    height: 40px;
    width:  45px;
    background-color:#f5f5f5;
    border:1px solid #aaa;
    margin: 5px 4px 6px 0;
}


.odometer.odometer-auto-theme, .odometer.odometer-theme-car {
    font-size: 50px;
}