<div class="card" id="Test">
    <div class="card-header">
    </div>


    <div class="card-body">
        <div class="col-12" style="background-color: lightgrey; text-align: center;" >
            <table id="coures-table" st-table=""  class="table table-striped">
                <thead>
                <tr>
                    <th colspan="1">SL</th>
                    <th colspan="1">Operation</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <td class="">1</td>
                    <td class="">Get Data</td>
                    <td class="">
                        <button type="button" class="btn btn-default btn-sm" ng-click="testGet()">
                            <span class="glyphicon glyphicon-pencil"></span> GET
                        </button>
                    </td>
                </tr>
                <tr >
                    <td class="">1</td>
                    <td class="">Insert Data</td>
                    <td class="">
                        <button type="button" class="btn btn-default btn-sm" ng-click="testSave()">
                            <span class="glyphicon glyphicon-pencil"></span> INSERT
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="">2</td>
                    <td class="">Update Data</td>
                    <td class="">
                        <button type="button" class="btn btn-default btn-sm" ng-click="testUpdate()">
                            <span class="glyphicon glyphicon-pencil"></span> UPDATE
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="">3</td>
                    <td class="">Delete Data</td>
                    <td class="">
                        <button type="button" class="btn btn-default btn-sm" ng-click="testDelete()">
                            <span class="glyphicon glyphicon-pencil"></span> DELETE
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>