<a href="#!" data-ng-show="loginDetails.data.user.user_type.type_id==0"><h1>Please Login</h1></a>
<div class="d-flex col-12" data-ng-show="loginDetails.data.user.user_type.type_id==1">
    <div class="col-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified indigo" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" ng-style="tab==1 && selectedTab" href="#" role="tab" ng-click="setTab(1)">Set Payout</a>
            </li>
        </ul>
        <!-- Tab panels -->
        <div class="tab-content">
            <!--Panel 1-->
            <div ng-show="isSet(1)">
                <div id="row my-tab-1">
                    <style type="text/css">
                        .td-input{
                            width: 35px;
                            padding: 0px;
                            margin-left: 0px;
                            margin-right: 0px;
                            font-weight: bold;
                            color: #000080;
                            border-radius: 50px;
                        }
                    </style>

                    <form name="stockistForm" class="form-horizontal">
                        <div class="d-flex justify-content-center">
                            <div class="mt-2 bg-info">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Sl. No</th>
                                        <th class="text-center">Game</th>
                                        <th class="text-center">Mrp</th>
                                        <th class="text-center">Payout</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in TwoDigitPayOut">
                                        <td class="text-center">{{$index+1}}</td>
                                        <td class="text-left"><input type="text" value="FR/SR" class="form-control" readonly></td>
                                        <td><input type="text" class="form-control text-right" ng-value="x.mrp | number:2" readonly></td>
                                        <td><input allow-decimal-numbers type="text" class="form-control text-right" ng-model="x.payout"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="p-0 text-center">
                                            <input type="button" class="btn-secondary" value="Submit" ng-click="submitGamePayout(TwoDigitPayOut)">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2">
                            <div class="">
                                <span ng-show="payoutStatus" class="text-success h5">Update successful</span>
                            </div>
                        </div>
                    </form>
                    <!-- <pre>TwoDigitPayOut = {{TwoDigitPayOut | json}}</pre> -->
                </div>
            </div>

        </div>
    </div>
</div>