<style type="text/css">
            a[ng-click]{
                cursor: pointer;
            }
            .tab-content{
                height: 650px;
                padding-left: 2px;
            }
        </style>
        <div class="d-flex col-12" data-ng-controller="ReportTerminalCtrl">
            <div class="col-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ng-style="tab==1 && selectedTab" href="#" role="tab" ng-click="setTab(1)">Total Sale</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ng-style="tab==2 && selectedTab" href="#" role="tab" ng-click="setTab(2)">Barcode Wise</a>
                    </li>
                </ul>
                <!-- Tab panels -->
                <div class="tab-content">
                    <!--Panel 1-->
                    <div ng-show="isSet(1)">
                        <div id="row my-tab-1">
                            <form name="stockistForm" class="form-horizontal">
                                <div class="card">

                                    <div class="card-header">
                                        <div class="d-flex justify-content-center">
                                            <div class=""><input type="date" class="form-control" ng-model="start_date" ng-change="changeDateFormat(start_date)"></div>
                                            <div class="ml-2 mr-2">To</div>
                                            <div class=""><input type="date" class="form-control" ng-model="end_date" ng-change="changeDateFormat(end_date)"></div>
                                            <div class="ml-2"><input type="button" class="btn btn-info form-control" value="Show" ng-click="getNetPayableDetailsByDate(start_date,end_date)"></div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-center">
                                            <div class="loader mt-1" ng-show="isLoading"></div>
                                        </div>

                                        <div class="d-flex justify-content-center" ng-show="!isLoading">
                                                <table cellpadding="0" cellspacing="0" class="table report-table">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center" width="20%">Date</th>
                                                        <th class="text-center" width="20%">Amount</th>
                                                        <th class="text-center" width="20%">Com</th>
                                                        <th class="text-center" width="20%">Prize Value</th>
                                                        <th class="text-center" width="20%">win.bonous</th>
                                                        <th class="text-center" width="20%">NTP</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    
                                                    <tr ng-repeat="x in saleReport">
                                                        <td class="" width="10%">{{x.ticket_taken_time}}</td>
                                                        <td class="text-right" width="20%">{{x.amount | number:2}}</td>
                                                        <td class="text-right" width="15%">{{x.commision | number:2}}</td>
                                                        <td class="text-right" width="10%">{{x.prize_value}}</td>
                                                        <td class="text-right" width="15%">{{x.winning_bonous | number:2}}</td>
                                                        <td class="text-right" width="20%">{{x.net_payable - x.winning_bonous | number:2}}</td>
                                                    </tr>
                                                    </tbody>

                                                    <tfoot ng-show="saleReport.length">
                                                        <tr>
                                                            <td class="" width="10%">Total</td>
                                                            <td class="text-right" width="20%">{{(saleReportFooter.total_amount) | number:2}}</td>
                                                            <td class="text-right" width="15%">{{(saleReportFooter.total_commision) | number:2}}</td>
                                                            <td class="text-right" width="10%">{{(saleReportFooter.total_prize_value) | number:2}}</td>
                                                            <td class="text-right" width="15%">{{(saleReportFooter.total_winning_bonous) | number:2}}</td>
                                                            <td class="text-right" width="20%">{{(saleReportFooter.total_net_payable) | number:2}}</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center" ng-show="saleReport.length==0">
                                    <div>No records found</div>
                                </div>
                            </form>
                        </div> <!--//End of my tab1//-->
                    </div>

                    <div ng-show="isSet(2)">
                        <div id="my-tab-2" style="height: 500px;overflow-y: scroll;">

                            <div class="d-flex justify-content-center mb-1">
                                <div class="col-2" ><input type="date" class="form-control" ng-model="barcode_report_date" ng-change="changeDateFormat(start_date)"></div>
                                <div class="ml-2 mr-2">To</div>
                                <div class=""><input type="date" class="form-control" ng-model="end_date" ng-change="changeDateFormat(end_date)"></div>

                                <div class="col-2">
                                    <select class="form-control " ng-change="getAllBarcodeDetailsByDate(barcode_report_date,end_date,select_barcode_type.id,select_draw_time)"
                                            data-ng-model="select_barcode_type"
                                            data-ng-options="x as x.type for x in barcodeType">
                                    </select>
                                </div>
                                <div class="col-2">
                                    <select ng-model="select_draw_time" class="form-control">
                                        <option value="0" selected="All">All</option>
                                        <option ng-repeat="x in drawTime" value="{{x.draw_master_id}}">
                                            {{(x.end_time |limitTo: 5) + ' '+ (x.meridiem) +' ' + (x.draw_name)}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control" ng-model="select_barcode" placeholder="Enter Barcode">
                                </div>

                                <div class="ml-2"><input type="button" class="btn btn-info form-control" value="Show" ng-click="getAllBarcodeDetailsByDate(barcode_report_date,end_date,select_barcode_type.id,select_draw_time)"></div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="loader mt-1" ng-show="isLoading2"></div>
                            </div>


                            <div class="d-flex justify-content-between">

                                <div class="col">
                                    <table cellpadding="0" cellspacing="0" class="table table-hover report-table  text-justify">
                                        <tr>
                                            <th>SL</th>
                                            <th>D.Time</th>
                                            <th>T.Time</th>
                                            <th>Barcode</th>
                                            <th>Qty</th>
                                            <th>Amount</th>
                                            <th>Prize</th>
                                            <th>Particulars</th>
                                            <th>Action</th>
                                            <th ng-show="select_barcode_type.id==2"></th>
                                        </tr>
                                        <tbody ng-repeat="x in showbarcodeReport | filter : select_barcode" >
                                            <tr>
                                                <td>{{ $index+1}}</td>
                                                <td>{{x.draw_time +' '+ x.meridiem}}</td>
                                                <td>{{x.ticket_taken_time}}</td>
                                                <td>{{x.barcode_number}}</td>
                                                <td>{{x.quantity |number:2}}</td>
                                                <td>{{x.amount |number:2}}</td>
                                                <td>{{x.prize_value |number:2}}</td>
                                                <td>
                                                    <a href="#" type="button" data-toggle="modal" data-target="#flipFlop" ng-click="showParticulars($index,x.barcode)">
                                                        Click here
                                                    </a>
                                                </td>
                                                <td ng-show="select_barcode_type.id==2">
                                                    <input type="button" value="Claim" class="btn btn-secondary" ng-click="claimedBarcodeForPrize(x,select_game.id)" ng-show="x.is_claimed == 0">
                                                    <input type="button" value="Claimed" class="btn btn-success" ng-disabled="true" ng-show="x.is_claimed">
                                                </td>

                                                <td><input type="button" class="btn btn-danger" ng-click="cancelTicketBeforeDrawClosed(x.play_master_id,$index)" value="Cancel" ng-disabled="x.is_cancelled"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-center" ng-show="showbarcodeReport.length==0">
                                        <div>No records found</div>
                                    </div>
                                </div>
                            </div>

                            <!-- The modal -->
                            <div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="modalLabel">View details</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="word-wrap: break-word">
                                            <!-- {{showbarcodeReport[target].particulars}} -->
                                            <table cellpadding="0" cellspacing="0" class="table table-bordered text-justify" ng-if="particularsDetails[0].play_series_id==1">
                                                <tr>
                                                    <th>Number</th>
                                                    <th>QTY</th>
                                                    <th>Number</th>
                                                    <th>QTY</th>
                                                </tr>
                                                <tbody ng-repeat="r in getRow(particularsRow) track by $index" ng-init="rowIndex = $index">
                                                <tr>
                                                    <td>{{particularsDetails[rowIndex*2].row_num + '' + particularsDetails[rowIndex*2].col_num}}</td>
                                                    <td class="bg-success">{{(particularsDetails[rowIndex*2].game_value)}}</td>
                                                    <td ng-if="particularsDetails[rowIndex*2+1].row_num">{{particularsDetails[rowIndex*2+1].row_num + '' + particularsDetails[rowIndex*2+1].col_num}}</td>
                                                    <td class="bg-info" ng-if="particularsDetails[rowIndex*2+1].game_value">{{(particularsDetails[rowIndex*2+1].game_value)}}</td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <table cellpadding="0" cellspacing="0" class="table table-bordered text-justify" ng-if="particularsDetails[0].play_series_id==2">
                                                <tr>
                                                    <th>Aandar</th>
                                                    <th>QTY</th>
                                                    <th>Bahar</th>
                                                    <th>QTY</th>
                                                    <th>Total</th>
                                                </tr>
                                                <tbody ng-repeat="x in particularsDetails" >
                                                <tr>
                                                    <td class="text-center font-weight-bold">{{x.aandar>=0? x.aandar : 'X'}}</td>
                                                    <td class="text-center">{{x.aandar_value>0? x.aandar_value: 'X'}}</td>
                                                    <td class="text-center font-weight-bold">{{x.bahar>=0? x.bahar: 'X'}}</td>
                                                    <td class="text-center">{{x.bahar_value>0? x.bahar_value:'X'}}</td>
                                                    <td class="text-center">{{x.total}}</td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>