
<div>Export from table</div>
<div>
    <p>Source table</p>
    <table id="MyInquires">
        <thead><tr><th>#<th>Inquiry<th>Topic</thead>
        <tbody>
        <tr><td>1<td>WinPhone<td>Screen
        <tr><td>2<td>iPhone<td>Keyboard
        <tr><td>3<td>Android<td>Memory
        </tbody>
    </table>
    <button ng-click="exportExcel()">Export table to Excel</button>
</div>


{{favoriteCookie}}<br>
cookies: {{userName}}
<button ng-click="SetCookies()">Set</button>
<button ng-click="GetCookies()">Get</button>
<button ng-click="ClearCookies()">Clear</button>
<button ng-click="login()">Login</button>