<a href="https://github.com/lindell/JsBarcode/wiki/Options" target="_blank">Clock here for more instructions</a>
<div>
<angular-barcode ng-model="txt" bc-options="bc" bc-class="barcode" bc-type="img"></angular-barcode>
<angular-barcode ng-model="txt" bc-options="bc" bc-class="barcode" bc-type="canvas"></angular-barcode>
<angular-barcode ng-model="txt" bc-options="bc" bc-class="barcode" bc-type="svg"></angular-barcode>
</div>
<div>
    <svg id="barcode"></svg>
    <!-- or -->
    <canvas id="barcode1"></canvas>
    <!-- or -->
    <img id="barcode2"/>
</div>