<div>
    <h1>Welcome</h1>
    <div class="">
        WELCOME<br>
        <button class="btn btn-primary" style="margin: 150px;" ng-click="popSuccess('Updated Successfully','Success')">Success</button>
        <button class="btn btn-primary" style="margin: 150px;" ng-click="popError('Error','This is error')">Error</button>
        <button class="btn btn-primary" style="margin: 150px;" ng-click="popWarning('Warning','This is warning')">Warning</button>
        <button class="btn btn-primary" style="margin: 150px;" ng-click="popNote('Note','This is note')">Note</button>
    </div>

</div>